In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("manipulation").getOrCreate()

In [5]:
df = spark.read.json('people.json')

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [10]:
type(df['age'])

pyspark.sql.column.Column

In [22]:
#select method (get data)
df.select('age').show()
df.select(df[0]).show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [26]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [28]:
#use index to get hold of first row
df.head(2)[0]

Row(age=None, name='Michael')

In [30]:
#select,head and etc all is pyspark sql wrapper
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
#create a new column with a existing data from age
df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [34]:
#Not inplace operation
df.withColumn('newage', df['age']*2).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [33]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [35]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [43]:
#strong in using sql to enquiry it
#and also can use sql to leverage the data
df.createOrReplaceTempView('people')

In [38]:
results = spark.sql("select * from people")

In [39]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
result_2 = spark.sql("select * from people where age is null")

In [41]:
result_2.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
+----+-------+