# Spark DataFrames Project Exercise

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

#### Start a simple Spark Session

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("walmart_exercise").getOrCreate()

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [3]:
df = spark.read.csv("walmart_stock.csv", inferSchema=True, header=True)

#### What are the column names?

In [4]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [8]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 columns.

In [14]:
#what is the original value edy?
df.show(5)

+----------+------------------+---------+---------+------------------+--------+------------------+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+----------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+----------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

#### Use describe() to learn about the DataFrame.

In [18]:
df.describe().show()
df.describe().printSchema()

+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      null| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|      null|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|2012-01-03|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|2016-12-30|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

root
 |-- summary: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

In [22]:
# from pyspark.sql.types import StructType, StructField, StringType

# new_struc = [StructType("summary", StringType(), True),
#             StructType("Open", StringType(), True),
#             StructType("High", StringType(), True),
#             StructType("Low", StringType(), True),
#             StructType("Close", StringType(), True),
#             StructType("Volume", StringType(), True),
#             StructType("Adj Close", StringType(), True)]

format_df = df.describe().drop('Date')
format_df.printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [35]:
from pyspark.sql.functions import format_number

#perhaps i can cast and format at here? cause confusion?
format_df = format_df.withColumn('Open', format_df['Open'].cast('double'))
format_df = format_df.withColumn('High', format_df['Open'].cast('double'))
format_df = format_df.withColumn('Low', format_df['Open'].cast('double'))
format_df = format_df.withColumn('Close', format_df['Open'].cast('double'))
format_df = format_df.withColumn('Volume', format_df['Volume'].cast('int'))
format_df = format_df.withColumn('Adj Close', format_df['Adj Close'].cast('double'))

format_df.printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [36]:
format_df.select(["summary", format_number("Open", 2).alias("Open"), 
                 format_number("High", 2).alias("High"), format_number("Low", 2).alias("Low"),
                 format_number("Close", 2).alias("Close"), "Volume",
                 format_number("Adj Close", 2).alias("Adj Close")]).show()

+-------+--------+--------+--------+--------+--------+---------+
|summary|    Open|    High|     Low|   Close|  Volume|Adj Close|
+-------+--------+--------+--------+--------+--------+---------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|    1258| 1,258.00|
|   mean|   72.36|   72.36|   72.36|   72.36| 8222093|    67.24|
| stddev|    6.77|    6.77|    6.77|    6.77| 4519780|     6.72|
|    min|   56.39|   56.39|   56.39|   56.39| 2094900|    50.36|
|    max|   90.80|   90.80|   90.80|   90.80|80898100|    84.91|
+-------+--------+--------+--------+--------+--------+---------+

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [75]:
#lack of Date whether it has duplication or not
# +--------------------+
# |            HV Ratio|
# +--------------------+
# |4.819714653321546E-6|
# |6.290848613094555E-6|
# |4.669412994783916E-6|
# |7.367338463826307E-6|
# |8.915604778943901E-6|
# |8.644477436914568E-6|
# |9.351828421515645E-6|
# | 8.29141562102703E-6|
# |7.712212102001476E-6|
# |7.071764823529412E-6|
# |1.015495466386981E-5|
# |6.576354146362592...|
# | 5.90145296180676E-6|
# |8.547679455011844E-6|
# |8.420709512685392E-6|
# |1.041448341728929...|
# |8.316075414862431E-6|
# |9.721183814992126E-6|
# |8.029436027707578E-6|
# |6.307432259386365E-6|
# +--------------------+

# and df required to be transform hahaha
transformed_df = df
transformed_df = transformed_df.withColumn('Open', transformed_df['Open'].cast('double'))
transformed_df = transformed_df.withColumn('High', transformed_df['Open'].cast('double'))
transformed_df = transformed_df.withColumn('Low', transformed_df['Open'].cast('double'))
transformed_df = transformed_df.withColumn('Close', transformed_df['Open'].cast('double'))
transformed_df = transformed_df.withColumn('Volume', transformed_df['Volume'].cast('int'))
transformed_df = transformed_df.withColumn('Adj Close', transformed_df['Adj Close'].cast('double'))

# group by date, and high require the max pts, while volume is added together
# using group by and carried out different function...
# date_df = transformed_df.groupBy('Date').sum('Volume')
# high_df = transformed_df.groupBy('Date').max('High')

# date_high_df = date_df.join(high_df)
# date_high_df.select(date_high_df["max(High)"]/ date_high_df["sum(Volume)"]).show(2)

#test
from pyspark.sql.functions import col
transformed_df.groupBy('Date').agg({"Volume":"sum", "High":"max"}).select(col("max(High)") / col("sum(Volume)")).show(2)

+-------------------------+
|(max(High) / sum(Volume))|
+-------------------------+
|     1.162721195617956...|
|     1.191682915696027...|
+-------------------------+
only showing top 2 rows

+-------------------------+
|(max(High) / sum(Volume))|
+-------------------------+
|     1.162721195617956...|
|     1.409659622402621...|
+-------------------------+
only showing top 2 rows

#### What day had the Peak High in Price?

In [47]:
#datetime.datetime(2015, 1, 13, 0, 0)
#take return list
df.groupBy('Date').max('High').orderBy('max(High)', ascending=False).take(1)[0].asDict()['Date']

'2015-01-13'

#### What is the mean of the Close column?

In [72]:
# +-----------------+
# |       avg(Close)|
# +-----------------+
# |72.38844998012726|
# +-----------------+
format_df.filter(format_df["summary"] == "mean").select("Close").show()

+-----------------+
|            Close|
+-----------------+
|72.35785375357709|
+-----------------+

#### What is the max and min of the Volume column?

In [81]:
#import as a whole functions
from pyspark.sql import functions as F

transformed_df.agg(F.max("Volume"), F.min("Volume")).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

#### How many days was the Close lower than 60 dollars?

In [82]:
transformed_df.filter(transformed_df["Close"] < 60).count()

82

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [93]:
#9.141494435612083
#days... ??
num_days_80 = transformed_df.filter(transformed_df["High"] > 80).count()
total_days = transformed_df.select("Date").distinct().count()

num_days_80 / total_days

0.0890302066772655

#### What is the Pearson correlation between High and Volume?
#### [Hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

In [111]:
# +-------------------+
# | corr(High, Volume)|
# +-------------------+
# |-0.3384326061737161|
# +-------------------+

transformed_df.stat.corr("High", "Volume")

-0.3550724659410044

#### What is the max High per year?

In [99]:
from pyspark.sql.functions import year, month

transformed_df.groupBy(year('Date').alias("Year")).max('High').show()

+----+-----------------+
|Year|        max(High)|
+----+-----------------+
|2015|        90.800003|
|2013|        81.209999|
|2014|87.08000200000001|
|2012|        77.599998|
|2016|             74.5|
+----+-----------------+

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [113]:
# +-----+-----------------+
# |Month|       avg(Close)|
# +-----+-----------------+
# |    1|71.44801958415842|
# |    2|  71.306804443299|
# |    3|71.77794377570092|
# |    4|72.97361900952382|
# |    5|72.30971688679247|
# |    6| 72.4953774245283|
# |    7|74.43971943925233|
# |    8|73.02981855454546|
# |    9|72.18411785294116|
# |   10|71.57854545454543|
# |   11| 72.1110893069307|
# |   12|72.84792478301885|
# +-----+-----------------+

transformed_df.groupBy(month("Date").alias("Month")).mean("Close").orderBy("Month").show()

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|    1|71.40811884158416|
|    2|71.19123726804122|
|    3|71.69046716822429|
|    4|72.95723806666665|
|    5|72.24349083962262|
|    6| 72.5100938962264|
|    7|74.35756999065421|
|    8| 73.0720909181818|
|    9|72.17960762745093|
|   10|71.65472770909089|
|   11| 71.9740594059406|
|   12|72.87952850943395|
+-----+-----------------+

# Great Job!