In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("sales_info").getOrCreate()

In [59]:
#csv has the option of infer schema
df = spark.read.csv("input_data/sales_info.csv",inferSchema=True,header=True)

In [4]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [7]:
df.head(2)

[Row(Company='GOOG', Person='Sam', Sales=200.0),
 Row(Company='GOOG', Person='Charlie', Sales=120.0)]

In [8]:
#Group By Can Group the Volume

In [15]:
#Group By Allocated Inside a Memory, and call methods
#In here return a average sales group by company
df.groupBy("Company").mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [18]:
#agg will take dictionary as input and perform operation
df.agg({"Sales":"sum"}).show()
df.agg({"Sales":"max"}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [19]:
#can append with groupBy
df.groupBy("Company").agg({"Sales":"max"}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [21]:
#pyspark sql also offer function as such
from pyspark.sql.functions import countDistinct, avg, stddev

In [23]:
#the letter passing in is insensitive...
df.select(countDistinct('SAles')).show()

+---------------------+
|count(DISTINCT SAles)|
+---------------------+
|                   11|
+---------------------+

In [25]:
#Can Called A Alias Column
df.select(avg('Sales').alias("Average Sales")).show()

+-----------------+
|    Average Sales|
+-----------------+
|360.5833333333333|
+-----------------+

In [26]:
#Standard Deviation
df.select(stddev('Sales').alias('Standard Deviation Sales')).show()

+------------------------+
|Standard Deviation Sales|
+------------------------+
|      250.08742410799007|
+------------------------+

In [29]:
#Format Number Functions
from pyspark.sql.functions import format_number

In [35]:
sales_std = df.select(stddev('Sales').alias('Standard Deviation Sales'))

In [38]:
#Format Number Into 2 Decimals
sales_std.select(format_number('Standard Deviation Sales', 2).alias('std')).show()

+------+
|   std|
+------+
|250.09|
+------+

In [39]:
#sort
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [44]:
#df.orderBy('Sales').show()
df.orderBy(df['Sales'].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+

In [57]:
#Self Test
average_df = df.groupBy('Company').mean()
average_df.orderBy(average_df['avg(Sales)'].desc()).show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|     FB|            610.0|
|   APPL|            370.0|
|   MSFT|322.3333333333333|
|   GOOG|            220.0|
+-------+-----------------+